extends ../0_base/template

block title
	title Личный кабинет

include ../1_blocks/modals/product-popup

block content
	.l-wrapper.__w-810
		.content-block
			.content-block_header
				b.content-block_title Персональные данные

			.content-block_content
				form(action="#" method="post" id="personal-data").form.personal-data
					.personal-data_col
						.form_field-wrapper
							label(for="personal-name").form_field-name Имя
							input(type="text" name="first-name" placeholder="Лев" id="personal-name").form_text-field

						.form_field-wrapper
							label(for="personal-email").form_field-name E-mail
							input(type="text" name="email" placeholder="mail@kengufood.ru" id="personal-email").form_text-field

					.personal-data_col
						.form_field-wrapper
							label(for="personal-tel").form_field-name Номер телефона
							input(type="tel" name="tel" placeholder="+7 999 999-99-99" id="personal-tel").form_text-field

						.form_field-wrapper
							b.form_field-name Дата рождения
							
							.personal-data_birthday
								.form_select-wrapper.personal-data_birthday-day
									select(name="birthday-day").form_select
										option(value="0") День
										option(value="1") 1
										option(value="2") 2
										option(value="3") 3
										option(value="4") 4
										option(value="5") 5
										option(value="6") 6
										option(value="7") 7
										option(value="8") 8
										option(value="9") 9
										option(value="10") 10
										option(value="11") 11
										option(value="12") 12
								
								.form_select-wrapper.personal-data_birthday-month
									select(name="birthday-month").form_select
										option(value="0") Месяц
										option(value="1") Января
										option(value="2") Февраля
										option(value="3") Марта
										option(value="4") Апреля
										option(value="5") Мая
										option(value="6") Июня
										option(value="7") Июля
										option(value="8") Августа
										option(value="9") Сентября
										option(value="10") Октября
										option(value="11") Ноября
										option(value="12") Декабря

			.content-block_foo
				button(type="submit" form="personal-data").btn.__solid.__m-w100p Сохранить изменения

		
		.content-block
			.content-block_header
				b.content-block_title История заказов

			.content-block_content.__no-pdg
				.history-card
					.history-card_status
						.history-card_status-label.__done <i class="far fa-check-circle"></i> Исполнен

					.history-card_info
						b.history-card_order-num Заказ №420
						time(datetime="2018-09-11").history-card_order-date 11 сентября 2018

					ul.history-card_product-list
						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

					.history-card_total-price
						b 1900 
						<i class="fas fa-ruble-sign"></i>

					.history-card_repeat
						a(href="#").btn Повторить

				.history-card
					.history-card_status
						.history-card_status-label.__cancelled <i class="far fa-times-circle"></i> Отменен

					.history-card_info
						b.history-card_order-num Заказ №420
						time(datetime="2018-09-11").history-card_order-date 11 сентября 2018

					ul.history-card_product-list
						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

					.history-card_total-price
						b 1900 
						<i class="fas fa-ruble-sign"></i>

					.history-card_repeat
						a(href="#").btn Повторить

				.history-card
					.history-card_status
						.history-card_status-label.__in-progres <i class="far fa-clock"></i> В процессе

					.history-card_info
						b.history-card_order-num Заказ №420
						time(datetime="2018-09-11").history-card_order-date 11 сентября 2018

					ul.history-card_product-list
						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

						li.history-card_product-item
							a.history-card_product-preview: img(src="media/img-p/item-1.jpg", alt="")
							+productPopup()

						li.history-card_product-item
							a(href="#").history-card_product-more +6

					.history-card_total-price
						b 1900 
						<i class="fas fa-ruble-sign"></i>

					.history-card_repeat
						a(href="#").btn Повторить
