mixin cartCard()
	.cart-card
		.cart-card_img
			img(src="media/img-p/item-1.jpg", alt="")
		
		.cart-card_content
			.cart-card_info
				b.cart-card_name Бургер
				span.cart-card_detail Вес 0.5 кг

			.cart-card_actions
				.cart-card_quantity
					.spinner.js-spinner
						a(href="#").spinner_decrement
						input(type="text" name="spinner-vp" disabled).spinner_viewport
						a(href="#").spinner_increment
					span.cart-card_price-for-one <b>190</b> <i class="fas fa-ruble-sign"></i>/шт

				.cart-card_total-price
					b 190 <i class="fas fa-ruble-sign"></i>

				a(href="#").cart-card_delite-btn <i class="fas fa-trash-alt"></i>