mixin productBurger()
	article.product-card.js-prodCard&attributes(attributes)
		.product-card_img
			img(src="media/img-p/item-1.jpg", alt="Какой-то товар")
		
		.product-card_content-wrapper
			.product-card_header
				b.product-card_title Какой-то бургер

			p.product-card_description.
				Две мясных котлеты гриль, специальный соус, 
				сыр, огурцы, салат и лук, все на булочке с кунжутом
				
			.product-card_actions
				.product-card_coast 190 <i class="fas fa-ruble-sign"></i>
				a(href="#").btn.js-inCart В корзину
				.spinner.js-spinner
					a(href="#").spinner_decrement
					input(type="text" name="spinner-vp" disabled).spinner_viewport
					a(href="#").spinner_increment