footer.site-foo
	.site-foo_first
		.site-foo_col
			a(href="index.html").site-foo_logo
				img(src="media/img/site-logo.png", alt="")

			p.site-foo_text.
				Ресторан доставки быстрого
				питания в городе Березники.
				Доставка в течение часа.

			.site-foo_social
				.social
					a(href="#").social_item: i.fab.fa-vk
					a(href="#").social_item: i.fab.fa-instagram
					a(href="#").social_item: i.fas.fa-at

		.site-foo_col
			nav.site-nav.__at-foo
				ul.site-nav_list
					li.site-nav_item: a(href="#") Меню
					li.site-nav_item: a(href="#") Бургеры
					li.site-nav_item: a(href="#") Пицца
					li.site-nav_item: a(href="#") Десерты
					li.site-nav_item: a(href="#") Напитки

				ul.site-nav_list
					li.site-nav_item: a(href="#") Kengu Food
					li.site-nav_item: a(href="#") О нас
					li.site-nav_item: a(href="#") Акции
					li.site-nav_item: a(href="#") Вакансии
					li.site-nav_item: a(href="#") Доставка и оплата
					li.site-nav_item: a(href="#") Контакты

		.site-foo_col
			.site-foo_info
				ul.site-foo_info-col
					li.site-foo_info-item
						span Готовим заказы по адресу
						b г. Березники, пр. Ленина, 71

				ul.site-foo_info-col
					li.site-foo_info-item
						span Номер для заказов
						b <a href="#">+7 (999) 999-99-99</a>
					li.site-foo_info-item
						span Работаем для вас
						b с 8:00 до 21:00

	.site-foo_second
		.site-foo_copyright
			span &#169; 2017-2018г. Все права Защищены.
			span Разработка сайта <a href="#">PROSTOR design</a>
