.cart-notify.__is-show.js-cartNotify
	.cart-notify_img
		img(src="media/img-p/item-1.jpg", alt="")
	
	.cart-notify_info
		b.cart-notify_product-name Чикенбургер
		span.cart-notify_msg добавлен в корзину

		a(href="#").cart-notify_to-cart Перейти к корзине

	a(href="#").cart-notify_close
