.m-menu#m-menu
	ul.m-menu_list
		li.m-menu_list-item: a(href="#") Kengu Food
		li.m-menu_list-item: a(href="#") Акции
		li.m-menu_list-item: a(href="#") Контакты
		li.m-menu_list-item: a(href="#") О нас

	a(href="#sign-in").btn.__solid.__align-c.mopen Личный кабинет

	ul.m-menu_info.__first
		li.m-menu_info-item
			span Готовим заказы по адресу
			b г. Березники, пр. Ленина, 71

	ul.m-menu_info.__second
		li.m-menu_info-item
			span Номер для заказов
			b +7 (999) 999-99-99
		li.m-menu_info-item
			span Работаем для вас
			b с 8:00 до 21:00