mixin productPopup()
	.product-popup
		.product-popup_img
			img(src="media/img-p/item-1.jpg", alt="")
		.product-popup_content
			b.product-popup_name Чизбургер
			p.product-popup_description.
				Бифштекс из говядины с 
				кусочками сыра «Чеддер» на 
				карамелизованной булочке, 
				заправленной горчицей, 
				кетчупом, луком и кусочком 
				маринованного огурчика.
			.product-popup_foo
				b.product-popup_price 50 <i class="fas fa-ruble-sign"></i>
				a(href="#").btn.__like-link В корзину